#container{
    display: flex;
    align-items:stretch;
    padding: 5px;


}

.row {
    height: 145px;
    width: 410px;
    background-color: lightblue;
    align-items:center;
    flex-direction: row;
    display: flex
    
}
.row2 {
    height: 145px;
    width: 410px;
    background-color: pink;
    align-items:center;
    display: flex;
}
.row3 {
    height: 145px;
    width: 410px;
    background-color: silver;
    align-items:center;
    flex-direction:row;
    display: flex;

}

img {
    height: 125px;
    width: 125px;
    justify-content: space-evenly;
    padding-left:125;
}