#container{
    
}    
    

.row {
    margin: 5px;
    height: 145px;
    width: 410px;
    background-color: lightblue;
    align-items:center;
    flex-direction: row;
    display: flex;    
    padding: 10px;
    justify-content:space-around; 
    

}
.row2 {
    margin: 5px;
    height: 145px;
    width: 410px;
    background-color: pink;
    align-items: center;
    flex-direction: row;
    display: flex;    
    padding: 10px;
    justify-content:space-around; 
    
}
.row3 {
    margin: 5px;
    height: 145px;
    width: 410px;
    background-color: white;
    align-items:center;
    flex-direction: row;
    display: flex;    
    padding: 10px;
    justify-content:space-around; 

}

img {
    height: 125px;
    width: 125px;
    margin-inline-start: 5px;
}