div {
    border: 1px solid black;
    padding: 10px;
    max-width: 5px;
}

.container1 {
    background-color: red;
    width: 1200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.s1, .s2, .s3 {
    width: 200px;
    background-color: yellow;
}
.container2 {
    background-color: purple;
    width: 1200px;
    height: 200px;
    display: flex;
}
.section1, .section2, .section3 {
    background-color: :white;
    flex: 1,
}

.section2{ 
    flex: 3;
}

.section3 {
    flex: 3;
}
/*
section1 = 1/7
section2 = 3/7
section3 = 3/7

TOTAL 7 spaces
*/