* {
    padding: 0;
    margin: 0;
}

div {
    background-color: rgba(226, 226, 236, 0.904);
    width: 465px;
    height: 625px;
    margin: 15px;
    padding: 15px;
}
#container{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 15px;
    

}   
.row {
    margin: 5px;
    height: 145px;
    width: 410px;
    background-color: lightblue;
    align-items:center;
    flex-direction: row;
    display: flex;    
    padding: 10px;
    justify-content:space-around; 
    

}
.row2 {
    margin: 5px;
    height: 145px;
    width: 410px;
    background-color: pink;
    align-items: center;
    flex-direction: row;
    display: flex;    
    padding: 10px;
    justify-content:space-around; 
    
}
.row3 {
    margin: 5px;
    height: 145px;
    width: 410px;
    background-color: white;
    align-items:center;
    flex-direction: row;
    display: flex;    
    padding: 10px;
    justify-content:space-around; 

}
.row4 {
    margin: 5px;
    height: 145px;
    width: 410px;
    background-color: silver;
    align-items:center;
    flex-direction: row;
    display: flex;    
    padding: 10px;
    justify-content:space-around; 

}