.container {
    border: 1px solid black;
    height: 450px;
    position: relative;
}

.element {
    background-color: gray;
    padding: 10px;
}

.main-element{
    background-color: yellow;
    padding: 10px;
    top: 0px;
    position: sticky;

}